@font-face {
    font-family: "Heebo";
    src:url(font/Heebo/Heebo-Thin.ttf);
}

body{
    background-color: #555;
}

.button {
           background-color: rgba(0, 99, 99, 0.2);
           border: 2px solid #48abbe;
           color: white;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           font-size: 16pt;
           border-radius: 20px;
           box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
           font-family: 'Heebo', sans-serif;
       }
.button:hover {
  background-color: white;
  color: #48abbe;
}

/* ---------------------------------------------------------------LANDSCAPE*/
@media only screen and (orientation: landscape) {
    body{
           background: url(img/l_bg.png) no-repeat fixed;
           background-size: 100% 100%;
    }
	head-title{
             font-family: 'Heebo', sans-serif;
             color: white;
             font-size: 50pt;
             text-align: left;
             text-shadow: 10px 10px 10px #000;
         }
    #head_img{
            height:120px;
            width:120px;
            line-height:120px;
            text-align:center;
    }
    main-text{
                    font-family: 'Heebo', sans-serif;
                    color: white;
                    font-size: 22pt;
                    text-align: left;
                    text-shadow: 5px 5px 5px #000;
      }
    link-doc{
                   font-family: 'Heebo', sans-serif;
                   color: #48abbe;
                   font-size: 12pt;
                   text-align: left;
                   text-shadow: 10px 10px 5px #000;
               }

    #table_left_desk {
           display: block;
      }
    #table_left_phone {
          display: none;
      }

    #table_head_desk {
             display: block;
    }
    #table_head_phone {
            display: none;
    }

     #table_first_desk {
               display: block;
          }
     #table_first_phone {
              display: none;
     }

     #table_main_desk {
        display: block;
     }
     #table_main_phone {
        display: none;
     }
     #table_doc {
        margin-left:200px;
        margin-right:120px;
        width:70%;
     }

}

/* ---------------------------------------------------------------PORTRAIT*/
@media only screen and (orientation: portrait) {
	body{
 	        background: url(img/p_bg.png) no-repeat fixed;
 	         background-size: 100% 100%;
	}
	font{
	        size: 20px;
	}
	.button {
               padding: 10px 10px;
               font-size: 15pt;
           }
	head-title{
                 font-family: 'Heebo', sans-serif;
                 color: white;
                 font-size: 20pt;
                 text-align: left;
                 text-shadow: 10px 10px 10px #000;
    }
    #head_img{
                 height:30px;
                 width:30px;
                 line-height:30px;
                 text-align:center;
    }
    link-doc{
                       font-family: 'Heebo', sans-serif;
                       color: #48abbe;
                       font-size: 10pt;
                       text-align: left;
                       text-shadow: 5px 5px 5px #000;
                   }
    main-text{
                font-family: 'Heebo', sans-serif;
                color: white;
                font-size: 15pt;
                text-align: left;
                text-shadow: 2px 2px 2px #000;
    }

    #table_left_desk {
        display: none;
    }
    #table_left_phone {
        display: block;
    }

    #table_head_desk {
           display: none;
        }
    #table_head_phone {
            display: block;
    }

     #table_first_desk {
                  display: none;
              }
     #table_first_phone {
                 display: block;
     }

     #table_main_desk {
                display: none;
                    }
     #table_main_phone {
                display: block;
     }
     #table_doc {
        margin-left:10px;
        margin-right:10px;
        width:90%;
     }
}

