

body{
    background-color: lightgray;
}


@media only screen and (orientation: landscape) {
body{
    background: url(img/bkgrn.jpeg) no-repeat ;
    background-size: 100%;
}
    
.start img{
    top: 30%;
    left: 30%;
    width: auto;
    height: 30%;
    border: 2em solid rgba(100,200,250,0.3);
}
}


@media only screen and (orientation: portrait) {
body{
    background: url(img/m-bkgrn.jpeg) no-repeat ; 
    background-size: 100%;
}
.start img{
    top: 30%;
    left: 30%;
    width: 30%;
    height: auto ;
    border: 2em solid rgba(100,200,250,0.3);
}
}
/*
.start img{
    top: 30%;
    left: 30%;
    width: 30%;
    height: auto ;
    border: 2em solid rgba(100,200,250,0.3);
}*/

.anim img {
    position: absolute;
    transition: all 1.0s;
}

.anim:hover img:nth-child(1) {
    transform: translate(-35%, -85%) scale(1.0, 1.0) rotate(-20deg);
}

.anim:hover img:nth-child(2) {
    transform: translate(-80%, 35%) scale(1.0, 1.0) rotate(-20deg);
}
