/* Created by 4rontender */

/* Base styles */
html {
  /*box-sizing: border-box;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: url('img/bkgrn.jpeg') 0 0 no-repeat;
    background-size: 135%;
}
h2{
    color: #a456dd;
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.albums-tab {
    transform: scale(0.9);
}
.albums-tab-thumb {
    margin-top: 60px;
    width: 200px;
    height: 200px;
}
.albums-tab-thumb img {
    height: 200px;
    width: 200px;
    background-color: rgba(255,255,255,0.3);
    padding: 10px;        
}

/* Transformations */

.sim-anim-6 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
}

.sim-anim-6 img {
    position: absolute;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 1.0s;
}

.sim-anim-6:hover img {
    z-index: 1;
}

.sim-anim-6:hover img:nth-child(1) {
    -ms-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(-35%, -85%) scale(1.0, 1.0) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(2) {
    -ms-transform: translate(-80%, 35%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(-80%, 35%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(-80%, 35%) scale(1.0, 1.0) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(3) {
    -ms-transform: translate(25%, 90%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(25%, 90%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(25%, 90%) scale(1.0, 1.0) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(4) {
    -ms-transform: translate(70%, -25%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(70%, -25%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(70%, -24%) scale(1.0, 1.0) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(5) {
    -ms-transform: translate(-110%, -55%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(-110%, -55%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(-110%, -55%) scale(0.7, 0.7) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(6) {
    -ms-transform: translate(100%, 60%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(100%, 60%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(100%, 62%) scale(0.7, 0.7) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(7) {
    -ms-transform: translate(40%, -115%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(40%, -115%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(40%, -114%) scale(0.7, 0.7) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(8) {
    -ms-transform: translate(-50%, 120%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -webkit-transform: translate(-50%, 120%) scale(0.7, 0.7) rotate(-20deg);
    transform: translate(-50%, 120%) scale(0.7, 0.7) rotate(-20deg);
}

.sim-anim-6:hover img:nth-child(9) {
    /*-ms-transform: translate(-5%, 5%) scale(0.7, 0.7) rotate(-20deg);
    -moz-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg);
    -o-transform: translate(-35%, -85%) scale(0.7, 0.7) rotate(-20deg); */
    -webkit-transform: translate(-5%, 5%) scale(1.2, 1.2) rotate(10deg);
    transform: translate(-5%, 5%) scale(1.2, 1.2) rotate(10deg);
}
